.slider-container {
  font-family: 'Poppins';
  display: flex;
  width: 100%;
  height: 90vh;
  background-color: #E8D1C5;
  color: #390611;
}
.slider-big-image {
  width: 50%;
  object-fit: cover;
}
.slider-big-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-small-image {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 80%;
    margin-top: 1.8vmax;

}
.slider-image {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 80px;
  /* flex-direction: column; */
    width: 100%;
    height: 80%;
}
.slider-small-arrow-left ,.slider-small-arrow-right{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #39061141;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-image img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border-radius: 143px 142px 0px 0px;
}
.slider-image-title{
    margin-top: 1rem;
    font-size: 20px;
    text-align: center;
    margin-bottom: 2.5rem;
}
.slider-arrow{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    height: 10%;
    /* margin-bottom: 8vmax; */
}
.slider-arrow-left, .slider-arrow-right{
    width: 100px;
    height: 3px;
    background-color: #390611;
    font-size: 2rem;
    cursor: pointer;
}
/* For tablets and smaller screens */
@media (max-width: 1024px) {
  .slider-container {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .slider-big-image {
    width: 100%;
    height: 50vh;
  }

  .slider-small-image {
    width: 100%;
  }

  .slider-image {
    height: auto;
    margin-top: 50px;
  }

  .slider-arrow {
    margin-bottom: 30px;
  }
}

/* For mobile devices */
@media (max-width: 768px) {

  
  .slider-image img {
    width: 200px;
    height: 280px;
  }

  .slider-arrow {
    gap: 2rem;
  }

  .slider-arrow-left, .slider-arrow-right {
    width: 60px;
    font-size: 1.5rem;
  }
}

/* For very small screens */
@media (max-width: 480px) {
  .slider-container{
    height: 75vh;
  }
  .slider-image{
    margin-top: 8rem;
  }
  .slider-big-image{
    position: absolute;
    /* height: 50%; */
  }
  .slider-small-image{
    position: relative;
    top: 13rem;
    height: 50vh;
  }
  .slider-image img {
    width: 175px;
    height: 220px;
  }

  .slider-arrow {
    margin-top: -1rem;
    gap: 1rem;
  }

  .slider-arrow-left, .slider-arrow-right {
    width: 40px;
    font-size: 1.2rem;
  }
}
@media (max-width:395px) {
  .slider-container{
    height: 80vh;
  }
  .slider-image{
    margin-top: 6rem;
  }
  .slider-arrow {
    margin-top: 0rem;
    gap: 1rem;
  }
}
@media (max-width:380px) {
  .slider-container{
    height: 100vh;
  }
  .slider-arrow {
    margin-top: -1rem;
    gap: 1rem;
  }
  .slider-image{
    margin-top: 1rem;
  }
}