.ImageContainer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.ImageContainer-img img {
    width: 100%;
    height: 500px;
    object-fit: fil;
    cursor: pointer;
}
