body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  padding-top: 1.8rem;
  padding-bottom: 2rem;
  width: 100vw; /* FULL screen width */
  max-width: 100vw;
  font-family: "poppins";
  overflow: hidden;
  margin: 0; /* Remove any margin */
  padding-left: 0;
  padding-right: 0;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; /* Full width of the screen */
  height: 410px;
  position: relative;
  overflow: hidden;
}

.carousel-item {
  position: absolute;
  transition: transform 0.5s ease, opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-image {
  width: 170px;
  height: 220px;
  object-fit: cover;
  border-radius: 143px 142px 10px 10px;
}
.carousel-title {
  margin-top: 10px;
  font-size: 15px;
  color: rgba(57, 6, 17, 1);
  text-align: center;
  border-radius: 5px;
}

/* Dots Container */
.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.dot {
  width: 30px;
  height: 5px;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 1rem;
  /* border: 1px solid #390611; */
}

.dot.active {
  background-color: rgba(57, 6, 17, 1);
}

.dot:hover {
  background-color: rgba(57, 6, 17, 1);
}

/* Responsive Design */
@media (max-width: 768px) {
  .image-title {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .carousel {
    height: 300px;
  }
  .image-title {
    font-size: 12px;
  }
  .dot {
    width: 20px;
    height: 5px;
  }
}
