.UserDashboard-container {
  width: 100%;
  padding: 30px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.UserDashboard-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.UserDashboard-userDetails,
.UserDashboard-accountdetails,
.UserDashboard-shippingAddress {
  background-color: #48091a;
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.UserDashboard-userDetails {
  text-align: center;
}

.UserDashboard-userDetails-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UserDashboard-avatarBox {
  width: 150px;
  height: 150px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin-bottom: 10px;
}

.UserDashboard-avatarIcon {
  font-size: 40px;
  background-color: #fff;
  color: #48091a;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.UserDashboard-username {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'inria serif';
}

.UserDashboard-points {
  background-color: gray;
  color: #48091a;
  padding: 6px 12px;
  border-radius: 6px;
  display: flex;
  pointer-events: none;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

.userDashboard-icon-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.UserDashboard-icon {
  color: #48091a;
}

.UserDashboard-infoList {
  border-top: 2px solid #fff;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.UserDashboard-infoList p {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.UserDashboard-otherdetials {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.UserDashboard-accountdetails h4,
.UserDashboard-shippingAddress h4 {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.UserDashboard-accountdetails h4 span,
.UserDashboard-shippingAddress h4 span {
  border-bottom: 2px solid #fff;
}

.UserDashboard-accountdetails p,
.UserDashboard-shippingAddress p {
  font-size: 14px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

/* ----------- Responsive Layouts ----------- */

/* Tablets and Up */
@media (min-width: 768px) {

  .UserDashboard-box {
    flex-direction: row;
    align-items: flex-start;
  }

  .UserDashboard-userDetails {
    width: 40%;
  }

  .UserDashboard-otherdetials {
    width: 60%;
  }
}

/* Desktops and Up */
@media (min-width: 992px) {
  .UserDashboard-container {
    padding: 2rem;
  width: 75%;

  }

  .UserDashboard-userDetails {
    width: 35%;
  }

  .UserDashboard-otherdetials {
    width: 65%;
  }
}
