.contact-container {
  font-family: 'Poppins', sans-serif;
  padding: 2.5rem 0;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-title {
  font-size: 3rem;
  /* font-weight: bold; */
  text-align: center;
  margin-bottom: 0.5rem;
  font-family: 'Inria Serrif';
}

.contact-description {
  padding: 2rem 14rem;
  text-align: center;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.faq-link {
  color: #2563eb;
  text-decoration: underline;
  margin-left: 0.25rem;
}

.contact-main {
  background-color: #F2F1EF;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2.5rem;
  width: 100vw;
  margin: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 18px 13px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1024px) {
  .contact-main {
    flex-direction: row;
    align-items: flex-start;
  }
}

.contact-info {
  background-color: #FFFFFF;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 30rem;
}

@media (min-width: 1024px) {
  .contact-info {
    width: 25%;
  }
}

.contact-info h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.contact-info p {
  margin-bottom: 2rem;
}

.contact-details div {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 0.75rem;
  color: #000000;
  font-weight: 400;
}

.contact-form {
  background-color: #F2F1EF;
  padding: 2rem;
  border-radius: 0.75rem;
  width: 100%;
}

@media (min-width: 1024px) {
  .contact-form {
    width: 75%;
  }
}

.contact-form .form-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .contact-form .form-row {
    flex-direction: row;
  }
  
}

@media (max-width:480px){
  .contact-title{
    font-size: 32px;
  }
  .contact-description{
    font-size: 18px;
    padding: 0px 20px !important;
  }

  .contact-main{
    flex-direction: column-reverse;
  }
}

.contact-form input,
.contact-form textarea {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #B1B1B1;
  border-radius: 0.375rem;
  margin-top: 1rem;
  color: #000000;
  background: transparent;
  resize: none;
}

.contact-form button {
  margin-top: 2rem;
  background-color: #390611;
  font-size: 1.5rem;
  color: white;
  padding: 0.75rem 2.5rem;
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  opacity: 0.9;
}

.contact-extra {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* aligned to the left */
  gap: 2.5rem;
  width: 100vw;
  padding: 0 2.5rem;
}

.contact-extra h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.contact-extra p {
  margin-bottom: 0.5rem;
}

.contact-extra div span {
  display: inline-block;
  margin-right: 0.5rem;
}
.contactus-phone,
.contactus-email,
.contactus-location,
.contactus-whatsapp {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  margin: 5px 0;
}

.contactus-whatsapp:hover {
  color: #25D366;
  text-decoration: underline;
}
