.userdashboard-logout {
    background-color: #390611;
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
  }
  
  .userdashboard-logout-button {
    color: white;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
    border: none;
    cursor: pointer;
  }
 .UserDashboardMain-container{
  display: flex;
  overflow: hidden;

 }
 .hamburger {
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    color: white;
  }
  .userdashboard-logout{
    justify-content: space-between;
  }

  .dashboard-navbar {
    position: absolute;
    top: 76%;   
    left: 0;
    background-color: #f2f2f2;
    width: 70%;
    max-width: 250px;
    height: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 999;
  }

  .dashboard-navbar.show {
    transform: translateX(0);
  }

  .UserDashboardMain-container {
    flex-direction: column;
  }
}