/* Container for the Best Seller Section */
.BestSeller-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    color: #3a0e0e;
    padding: 2rem 1rem;
    overflow: hidden;
  }
  
  /* Section Heading */
  .BestSeller-heading {
    font-family: 'Inria Serif', serif;
    font-size: 3rem;
    padding: 1rem 0;
    text-align: center;
  }
  
  /* Slider Section */
  .BestSeller-slider {
    display: flex;
    overflow-x: auto;
    justify-content: center;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    scroll-behavior: smooth;
    width: 100%;
    padding: 1.5rem 0;
  }
  
  .BestSeller-slider::-webkit-scrollbar {
    display: none;
  }
  
  /* Container for all cards */
  .BestSeller-cards {
    display: flex;
    gap: 2.5rem;
    padding: 0 1rem;
  }
  
  /* Individual Product Card Wrapper */
  .Featuredproducts-card {
    scroll-snap-align: start;
    flex: 0 0 auto;
    width: 280px;
  }
  
  /* Dots for page indicators */
  .ShopByConcern-dots {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }
  
  .ShopByConcern-dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .ShopByConcern-dot.active {
    background-color: #593039;
  }

  .Featuredproducts-card.featured-card-center {
    margin-top: -1.3rem;
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    .Featuredproducts-card.featured-card-center {
      margin-top: 0rem;
    }
    
    .BestSeller-slider {
        justify-content: flex-start;
    }
    .BestSeller-heading {
      font-size: 2rem;
      padding: 1rem 0;
    }
  
    .Featuredproducts-card, .product-card-container {
      width: 250px;
    }
  
    .BestSeller-cards {
      gap: 1rem;
      padding: 0 0.5rem;
    }
  }
  