@font-face {
  font-family: 'Andada Pro';
  src: url('fonts/AndadaPro-Regular.ttf') format('truetype'),
       url('fonts/AndadaPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Container */
.toggle-content-container {
    /* max-width: 800px; */
    /* margin: 0 auto; */
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Andada Pro', serif;
  }
  
  /* Content Body */
  .toggle-content-body {
    margin-bottom: 20px;
  }
  
  /* Summary Content */
  .toggle-content-summary h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .toggle-content-summary p {
    font-size: 19px;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #555;
  }
  
  .toggle-content-summary strong {
    color: #333;
  }
  
  /* Full Content */
  .toggle-content-full {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin-top: 20px;
  }
  
  .toggle-content-full ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .toggle-content-full li {
    margin-bottom: 5px;
  }
  
  /* Toggle Button */
  .toggle-content-button {
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: rgb(77, 77, 161);
    cursor: pointer;
   
  }
  
