body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.ourstory2-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  padding-top: 2rem;
  /* padding-bottom: 2rem; */
  width: 100vw; /* FULL screen width */
  max-width: 100vw;
  height: 60vh; /* FULL screen height */
  overflow: hidden;
  margin: 0; /* Remove any margin */
  padding-left: 0;
  padding-right: 0;
  background-color: #3906111f;
}

.ourstory2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; /* Full width of the screen */
  height: 450px;
  position: relative;
  overflow: hidden;
}
.ourclient_heading{
  font-family: 'Inria Serif';
  font-size: 40px ;
  color: rgba(57, 6, 17, 1);
  text-align: center;
  font-weight: bold;
  /* margin-top: 1rem; */

  /* margin-bottom: 1.rem; */
}

.ourstory2-item {
  position: absolute;
  transition: transform 0.5s ease, opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 170px;
  height: 220px;
  border: 2px solid goldenrod;
  border-radius: 143px 142px 0px 0px;
  font-family: "Inria Serif";
}
.ourclientname {
  font-size: 1rem;
  color: rgba(57, 6, 17, 1);
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}
.ourclientaddress {
  /* font-size: 1rem; */
  color: rgba(57, 6, 17, 1);
  text-align: center;
  font-weight: regular;
  /* margin-top: px; */
}

.ourclientprofile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  top: -12%;
}

.ourstory2-image {
  text-align: center;
  font-size: 0.5rem;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourstory2-title {
  /* margin-top: 10px; */
  font-size: 10px;
  color: rgba(57, 6, 17, 1);
  text-align: center;
  border-radius: 5px;
}

/* Dots Container */
.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.dot {
  width: 30px;
  height: 7px;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 1rem;
  /* border: 1px solid #390611; */
}

.dot.active {
  background-color: rgba(57, 6, 17, 1);
}

.dot:hover {
  background-color: rgba(57, 6, 17, 1);
}

/* Responsive Design */
@media (max-width: 1024px){
  .ourstory2-container{
    height: 43vh;
  }
}
@media (max-width: 768px) {
  .ourstory2-container{
    height: 50vh;
  }
  .image-title {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .ourstory2 {
    height: 300px;
  }
  .image-title {
    font-size: 12px;
  }
  .dot {
    width: 20px;
    height: 5px;
  }
}
