.luxuryPage-container {
  min-height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(57, 6, 17, 1);
  background-color: rgba(57, 24, 6, 0.06);
  overflow: hidden;
}

.luxuryPage-content-box {
  /* border-radius: 12px; */
  overflow: hidden;
  width: 100%;
  /* max-width: 800px; */
  text-align: center;
}

.luxuryPage-header {
 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* padding: 20px; */
  /* background-color: rgba(57, 24, 6, 0.06); */
}
.luxuryPage-title {
  font-size: 60px;
  font-family: 'Inria Serif';
  /* font-weight: bold; */
}

.luxuryPage-header .luxuryPage-subtext {
  font-size: 25px;
  /* margin-top: 10px; */
}

.luxuryPage-image-container {
  background-color: transparent;  
  overflow: hidden;
  display: flex;
  height: 280px;
  justify-content: center;
  align-items: center;
  display: none;  
}

.luxuryPage-image-container img {
  width: 100%;
  display: none;
  height: 100%;
  object-fit: contain;
  object-position: center;
  padding: 1rem;
}




.luxuryPage-features-section {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0px 0px 0px;
  text-align: center;
  /* background-color: rgba(57, 24, 6, 0.06); */
}


.luxuryPage-subtext {
  font-family: 'Poppins';
  font-size: 22px;
}

.luxuryPage-features {
  display: flex;
  justify-content: space-evenly;
  /* gap: 30px; */
  /* flex-wrap: wrap; */
}

.luxuryPage-feature-box {
  /* padding: 20px; */
  border-radius: 12px;
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.luxuryPage-feature-icon-wrapper {
  background: rgba(57, 6, 17, 0.5);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
  width: 250px;
  border-radius: 20px;
  margin-bottom: 15px;
  color: white;
}

.luxuryPage-feature-icon {
  width: 150px;
  height: 150px;
}

.luxuryPage-feature-title {
  font-family: 'Inria Serif';
  font-size: 18px;
  font-weight: bold;
  /* margin-top: 30px; */
  margin-bottom: 10px;
}

.luxuryPage-feature-description {
  width: 70%;
  font-size: 14px;
  text-align: center;
  /* line-height: 1.4; */
  font-weight: 500;
  font-family: 'Poppins';
}


.luxuryPage-footer-text{
  font-size: 20px;
  font-family: 'Inria Serif';
  margin-top: 25px;
}
/* RESPONSIVE DESIGN */

@media (max-width: 768px) {
  .luxuryPage-title {
    font-size: 2rem;
  }

  .luxuryPage-header .luxuryPage-subtext,.luxuryPage-footer-text, .luxuryPage-subtext {
    font-size: 1.1rem;
    font-family: 'Inria Serif';
  }

  .luxuryPage-feature-box {
    width: 80%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .luxuryPage-footer-text{
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .luxuryPage-image-container{
    display: none;
  }
  .luxuryPage-features-section .luxuryPage-subtext{
    display: none;
  }
  .luxuryPage-feature-description{
    display: none;
  }
  .luxuryPage-title {
    font-size: 1.8rem;
  }
  .luxuryPage-footer-text{
    display: none;
  }
  .luxuryPage-feature-box {
    width: 75%;
    padding: 0;
  }
  .luxuryPage-header .luxuryPage-subtext{
 font-size: .67rem;
    margin: 0;
  }

  .luxuryPage-feature-icon-wrapper {
    height: 100px;
    width:fit-content;
    margin-bottom: 0;
  }
  .luxuryPage-feature-title{
    margin: 0 0 0 0;
    font-size: 1rem;
  }
  .luxuryPage-feature-icon {
    width: 60px;
    height: 60px;
  }
  .luxuryPage-features-section{
    padding: 0 0 0 0;
  }
  .luxuryPage-container {
    min-height: 40vh;
    display: block;
    /* background-color: rgba(57, 24, 6, 0.06); */
}
.luxuryPage-features{
  height: 100%;
}
}
