.conditions-container {
    text-align: left;
    color: #390611;
    margin: 0 auto;
}

.conditions-oddcontent, 
.conditions-evencontent {
    padding: 30px 30px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conditions-oddcontent ul, 
.conditions-evencontent ul {
    list-style-type: disc;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #390611;
    padding-left: 45px;
}



.conditions-oddcontent {
    background-color: #F2F1EF;
    padding-left: 89px;
}

.conditions-evencontent {
    padding-left: 89px;
}

.conditions-title {
    font-family: 'Inria Serif', serif;
    font-size: 16x;
    /* font-weight: 600; */
    margin-bottom: 20px;
    color: #390611;
}

.conditions-text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    /* font-weight: 400; */
    color: #390611;
    padding-bottom: 7px;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
    .conditions-title {
        font-size: 42px;
        margin-bottom: 60px;
    }
    .conditions-text {
        font-size: 28px;
    }
    .conditions-oddcontent,
    .conditions-evencontent {
        padding: 40px;
    }
    .conditions-oddcontent {
        padding-left: 50px;
    }
    .conditions-evencontent {
        padding-left: 50px;
    }
}

@media (max-width: 768px) {
    .conditions-title {
        font-size: 36px;
        margin-bottom: 50px;
        text-align: center;
    }
    .conditions-text {
        font-size: 24px;
    }
    .conditions-oddcontent,
    .conditions-evencontent {
        padding: 30px;
    }
    .conditions-oddcontent {
        padding-left: 30px;
    }
    .conditions-evencontent {
        padding-left: 30px;
    }
}

@media (max-width: 480px) {
    .conditions-title {
        font-size: 28px;
        margin-bottom: 40px;
        text-align: center;
    }
    .conditions-text {
        font-size: 20px;
    }
    .conditions-oddcontent,
    .conditions-evencontent {
        padding: 20px;
    }
    .conditions-oddcontent {
        padding-left: 20px;
    }
    .conditions-evencontent {
        padding-left: 20px;
    }
}
