.justin-container {
  background-color: #f2f1ef;
  color: #390611;
  text-align: left;
  padding: 50px 140px;
  font-family: "Poppins", sans-serif;
}

.justin-heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.justin-subhead {
  margin-top: 15px;
  background-color: #e8d1c5;
  color: #390611;
  padding: 10px 20px;
  width: fit-content;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .justin-container {
    padding: 50px 0px;
    text-align: center;
  }

  .justin-heading {
    text-align: center;
  }

  .justin-subhead {
    margin: auto;
  }
}

.justin-products {
  margin-top: 30px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* flex-wrap: wrap; */
}

.justin-product1,
.justin-product2,
.justin-product3 {
  background-color: #d9d9d9;
  color: #390611;
  padding: 30px;
  flex: 1;
  height: 450px;
  width: 300px;
  position: relative;
}

.justin-product1,
.justin-product3 {
  border-radius: 0px 100px 0px 0px;
  -webkit-border-radius: 0px 100px 0px 0px;
  -moz-border-radius: 0px 100px 0px 0px;
}

.justin-product2 {
  border-radius: 0px 0px 0px 100px;
  -webkit-border-radius: 0px 0px 0px 100px;
  -moz-border-radius: 0px 0px 0px 100px;
}

.justin-product-button {
  border: 2px solid #390611;
  background-color: #d9d9d9;
  font-size: 20px;
  padding: 10px;
  position: absolute;
  text-transform: uppercase;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.justin-title {
  font-family: "Inria Serif", serif;
  /* font-weight: bold; */
  font-size: 40px;
}

.justin-product-heading {
  font-size: 25px;
  font-weight: bold;
  font-family: "Inria Serif", serif;
  margin-bottom: 35px;
  text-align: left;
}

.justin-product-content {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  line-height: 1.5;
  margin-bottom: 15px;
  width: 70%;
  text-align: left;
}

@media (max-width: 1024px) {
  .justin-products {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 30px;
    padding-bottom: 10px;
    scrollbar-width: none;
    /* Firefox */
    -webkit-overflow-scrolling: touch;
    justify-content: flex-start;
    /* important */
  }

  .justin-products::-webkit-scrollbar {
    display: none;
  }

  .justin-product1,
  .justin-product2,
  .justin-product3 {
    flex: 0 0 auto;
    min-width: 280px;
    max-width: 280px;
  }
}
