.SacredRitualsRange-container {
    font-family: 'Inria Serif';
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    color: #000000;
}

.SacredRitualsRange-heading{
    font-size: 38px;
    font-weight: 600;
}

.SacredRitualsRange-items-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 40px;
}

.SacredRitualsRange-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SacredRitualsRange-item-image{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-color: #D9D9D9;
}
