.footer-container {
  background-color: #390611;
  color: #FBEBE3;
  padding: 60px 20px 20px;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.footer-container-m {
  background-color: #390611;
  color: #FBEBE3;
  padding: 60px 20px 20px;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.footer-section-m {
  width: 100%;
  display: block;
  border-bottom: 1px solid #cccccc2e;
  margin-top: 20px;
}

.footer-section-m h3 {
  font-size: 1.1rem;
}

/* Footer Grid */
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* Footer Sections */
.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-title {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}

.footer-follow-title {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 500;
}

/* Footer List */
.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list li {
  font-size: 15px;
  font-weight: 200;
  cursor: pointer;
  padding-bottom: 6px;
  display: flex;
  width: fit-content;
  position: relative;
}

/* Underline Hover Effect */
.footer-list li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #FBEBE3;
  transition: width 0.3s ease-in-out;
}

.footer-list li:hover::after {
  width: 100%;
}

/* Footer Icons */
.footer-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.footer-icons a{
  text-decoration: none;
  color: inherit;
}

.footerContactM {
  margin-bottom: 20px;
}

.footer-icons svg {
  font-size: 22px;
  transition: color 0.3s ease-in-out;
}

.footer-icons svg:hover {
  color: #f0c14b;
}

/* Copyright */
.footer-copyright {
  /* text-align: center; */
  font-size: 14px;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-container-m {
  display: none;
}

/* 🔹 Responsive Design 🔹 */
@media (max-width: 1024px) {
  .footer-container {
    display: none;
  }

  .footer-container-m {
    display: block;
    /* margin: 0 5px; */
  }

  .footer-list {
    margin-bottom: 10px;
    padding-left: 1rem;
  }
  .footerContactM>h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
  .footerContactM>p{
    padding-left: 1rem;
  }
  .footerContactM{
    padding-bottom: 1rem;
  border-bottom: 1px solid #cccccc2e;

  }
  .footer-icons{
    padding-left: 1rem;
  }
  .footer-follow-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .footer-container-m {
    padding-top: 1rem;
    margin: 0;
    
  }
}