/* Container Styling */
.ShopByConcern-container {
    text-align: center;
    padding: 40px;
    color: #390611;
}

/* Heading Styling */
.ShopByConcern-header h2 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #4B1D1D;
}

/* Slider Container */
.ShopByConcern-slider-container {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* Slider Styling */
.ShopByConcern-slider {
    display: flex;
    gap: 50px;
    margin: 40px 65px;
    justify-content: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding-bottom: 20px;
    width: max-content;
}

/* Individual Card Styling */
.ShopByConcern-slider-item {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 400px;
    padding: 15px;
    text-align: center;
    align-items: center;
    scroll-snap-align: center;
}

/* Image Styling */
.ShopByConcern-slider-item img {
    width: 90%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 15px;
    background-color: #D9D9D9;
}

.ShopByConcern-slider-item-img-even {
    border-radius: 0px 0px 0px 80px;
    -webkit-border-radius: 0px 0px 0px 80px;
    -moz-border-radius: 0px 0px 0px 80px;
}

.ShopByConcern-slider-item-img-odd {
    border-radius: 0px 80px 0px 0px;
    -webkit-border-radius: 0px 80px 0px 0px;
    -moz-border-radius: 0px 80px 0px 0px;
}

/* Title Styling */
.ShopByConcern-slider-item h3 {
    width: 80%;
    font-family: "Inria Serif", serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #4B1D1D;
}

/* Description Styling */
.ShopByConcern-slider-item p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #4B1D1D;
    width: 85%;
}

/* Dots Indicator */
.ShopByConcern-dots {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.ShopByConcern-dot {
    width: 40px;
    height: 5px;
    background-color: white;
    margin: 0 5px;
    border-radius: 20px;
    border: 1px solid #390611;
    transition: all 0.3s ease;
}

.ShopByConcern-dot.active {
    background-color: #4B1D1D;
    width: 45px;
}

@media (max-width: 1024px) {
    .ShopByConcern-container {
        display: none;
    }
}


/* For Small Screen Devices */


.concern-container {
    background-color: #f2f1ef;
    color: #390611;
    text-align: left;
    padding: 50px 110px;
    font-family: 'Poppins', sans-serif;
    display: none;
}

@media (max-width: 1024px) {
    .concern-container {
        display: block;
    }
}

.concern-title {
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    font-size: 40px;
}

.concern-title-content {
    margin-bottom: 20px;
}

.concern-subhead {
    margin-top: 15px;
    background-color: #e8d1c5;
    color: #390611;
    padding: 10px 20px;
    width: fit-content;
    font-size: 18px;
}

.concern-products {
    margin-top: 30px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.concern-product {
    background-color: #d9d9d9;
    color: #390611;
    padding: 30px;
    flex: 1;
    height: 30rem;
    min-width: 300px;
    max-width: 400px;
    position: relative;
}

/* Shape styling using nth-child for odd/even */
.concern-products .concern-product:nth-child(odd) {
    border-radius: 0px 100px 0px 0px;
    -webkit-border-radius: 0px 100px 0px 0px;
    -moz-border-radius: 0px 100px 0px 0px;
}

.concern-products .concern-product:nth-child(even) {
    border-radius: 0px 0px 0px 100px;
    -webkit-border-radius: 0px 0px 0px 100px;
    -moz-border-radius: 0px 0px 0px 100px;
}

.concern-product-heading {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Inria Serif', serif;
    margin-bottom: 35px;
    text-align: left;
}

.concern-product-content {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    line-height: 1.5;
    margin-bottom: 15px;
    width: 70%;
    text-align: left;
}

.concern-product-button {
    border: 2px solid #390611;
    background-color: #d9d9d9;
    font-size: 20px;
    padding: 10px;
    position: absolute;
    text-transform: uppercase;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .concern-container {
        padding: 50px 0px;
        text-align: center;
    }

    .concern-title {
        text-align: center;
    }

    .concern-subhead {
        margin: auto;
    }

    .concern-products {
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 20px;
        padding-bottom: 10px;
        scrollbar-width: none;
        -webkit-overflow-scrolling: touch;
        justify-content: flex-start;
    }

    .concern-products::-webkit-scrollbar {
        display: none;
    }

    .concern-product {
        flex: 0 0 auto;
        min-width: 280px;
        max-width: 280px;
    }
}