.nourishbody-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Inria Serif";
  color: #390611;
}

.nourishbody-header {
  margin-bottom: 10px;
  padding: 30px;
}
.nourishbody-header h1 {
  font-size: 40px;
}
.nourishbody-content {
  /* width: 100%;
    min-height: 500px;
    background-color: #D9D9D9;   */
  width: 100vw;
  /* height: 100vh;  */
  /* overflow: hidden; */
  /* position: relative; */
  background: white;
  display: flex;
  justify-content: center;
  /* object-fit: cover; */
}
.nourishbody-content>iframe{
  height: 70vh;
  width: 70vw;
}

@media (max-width: 1024px){
.nourishbody-content>iframe{
  width: 100vw;
  height: 55vw;
}
}
